.MenuContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px;
}

#categorias{
    padding:5px;
    
}

.bookContent{
    width: 100%;
    display: block;
}


.categTitle{
    color:#FFE8E8;
    border-bottom:1px solid #FFE8E8;
}
.btnCategoria{
    color:#FFE8E8;
    width:100%;
    display: block;
    text-align: left;
    margin:5px;
    background-color: #712B75;
    border:0;
}

.btnCategoria:hover{
    margin:8px;
    color:#ded6d6;
    background-color: #712B75;
}

.Livros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.searchBar {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

h3 {
    color: white!important;
}

#filtro {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
}

#iconFilter {
    width: 30px;
    height: 30px;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

@media only screen and (min-width:800px) {
    .LivroImagem img {
        width: 90px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .LivroMenu {
        margin: 2rem;
    }
    .LivroTitulo {
        margin-top:20px;
        color: white;
        max-height: 30px;
        text-align: center;
        overflow: scroll;
        text-overflow: ellipsis;
        max-width: 166px;
    }

    #filtro {
        display: none;
    }
    
}

@media only screen and (max-width:800px) {
    .MenuContent .colunaCategorias {
        display: none !important;
    }
}
