.LivroAutor {
    text-align: center;
    color:#CDBCBC;
    overflow: hidden;
}


.LivroTitulo{
    overflow: hidden;
}

@media only screen and (max-width:800px) {
    .LivroImagem img {
        width: 108px;
        height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .LivroMenu {
        margin: 1rem;

    }
    .LivroTitulo {
        margin-top:20px;
        color: white;
        max-height: 30px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
}
