.colunaCategorias {
    margin: 1rem;
}

.colunaCategorias h3{
    color: white;
    text-decoration: underline;
}

.colunaCategorias .categoria {
    color: #FFE8E8;
    margin: 0;
}


.colunaCategorias .categoria {
    color: #FFE8E8;
    margin: 0;
    text-decoration: none;
}

.colunaCategorias .categoria:hover {
    color: #FFE8E8;
    text-decoration: underline;
}

.categoria {
    background: none!important;
    border: none;
    padding: 0!important;
    color:white;
    cursor: pointer;
    text-align: left;
}


