.MenuContent {
    display: flex;
    height: 100%;
}

.Livros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searchBar {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

h3 {
    color: white!important;
}

#filtro {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
}

#iconFilter {
    width: 30px;
    height: 30px;
    margin: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

@media only screen and (min-width:800px) {
    .LivroImagem img {
        width: 90px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .LivroMenu {
        margin: 2rem;
    }
    .LivroTitulo {
        color: white;
        width: 166px;
        text-align: center;
    }

    #filtro {
        display: none;
    }
    
}

@media only screen and (max-width:800px) {
    .MenuContent .colunaCategorias {
        display: none !important;
    }
}
